<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>
    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>
    <div class="block">Block Element</div>

    <span class="inline">Inline Element</span>

    <div class="inline-block">Inline Block Element</div>
    <br><br>

    <h2>Positioning Elements Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Position</div>

    <div class="relative">Relative Position</div>

    <div class="relative">
    <div class="absolute">Absolute Position</div>
    </div>

    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>
    <br><br>

    <h2>Floats and clearing floats examples</h2>
    <div>
    <div class="float-right">float right</div>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum, nobis debitis, aperiam deleniti itaque possimus fugiat nostrum asperiores eaque quasi, corporis quos excepturi! Iure velit autem fuga labore cumque, consectetur eligendi ad expedita accusamus voluptatum excepturi delectus recusandae error culpa omnis a rem, architecto alias ratione inventore dolore doloribus.    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum, nobis debitis, aperiam deleniti itaque possimus fugiat nostrum asperiores eaque quasi, corporis quos excepturi! Iure velit autem fuga labore cumque, consectetur eligendi ad expedita accusamus voluptatum excepturi delectus recusandae error culpa omnis a rem, architecto alias ratione inventore dolore doloribus. cumque, consectetur eligendi ad expedita accusamus voluptatum excepturi delectus recusandae error culpa omnis a rem, architecto alias ratione inventore dolore doloribus.
</div>

<div>
    <div class="float-left">float left</div>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum, nobis debitis, aperiam deleniti itaque possimus fugiat nostrum asperiores eaque quasi, corporis quos excepturi! Iure velit autem fuga labore cumque, consectetur eligendi ad expedita accusamus voluptatum excepturi delectus recusandae error culpa omnis a rem, architecto alias ratione inventore dolore doloribus.    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum, nobis debitis, aperiam deleniti itaque possimus fugiat nostrum asperiores eaque quasi, corporis quos excepturi! Iure velit autem fuga labore cumque, consectetur eligendi ad expedita accusamus voluptatum excepturi delectus recusandae error culpa omnis a rem, architecto
   <div class="clear-floats">Clear floats</div>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tempore eius, corporis a ullam velit, repellendus porro excepturi animi adipisci omnis et sed eligendi fugit hic tempora nobis incidunt optio ab ex debitis laboriosam! Sit quod aut provident et, harum adipisci eum architecto totam asperiores. Corrupti laudantium possimus mollitia excepturi!
</div>

<h2>Centering elements example</h2>
<div class="parent-box">
    <div class="center-horizontal">
        <p>This box is horizontally centered.</p>
    </div>
</div>

<div class="parent-box center-vertical">
    <div>
        <p>This text is vertically centered.</p>
    </div>
</div>

<div class="parent-box center-horizontal-vertical">
    <div>
        <p>This text is vertically & horizontally centered.</p>
    </div>
</div>
</body>
</html>